.landing {
  background-color: #78675B;
  background-repeat: repeat-y;
  min-height: 100vh;

  .showcase, .pitch__bg, .footer__bg {
    background-image: url('../../assets/open-book.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }
}