.backdrop {
    overflow: hidden;
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    margin:auto;
    height: 100vh;
    background: url(../../assets/open-book.jpeg);
    background-position: top;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    &::after {
        content: "";
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #2f231b;
        opacity: 0.8;
        backdrop-filter: blur(2px) grayscale(20%) contrast(1);
        isolation: isolate;
    }

    .backdrop-2 {
        isolation: isolate;
        position: relative;
        z-index: 1;
        width: 40%;
        height: 100%;
        opacity: 0.98;
        background: url(../../assets/papers-slanted.png);
        filter: saturate(60%) brightness(1) drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.25));
        background-size: cover;
        background-position-x: right;
        background-repeat: no-repeat;
    }
}